<!DOCTYPE html>
<html>
<head>
	<title><%= pageTitle %></title>
	<!-- Aquí se incluyen los archivos CSS y JS comunes a todas las páginas -->
</head>
<body>
	<header>
		<!-- Aquí se incluye la cabecera de la página -->
	</header>
	<main>
		<!-- Aquí se incluye el contenido específico de cada página -->
		<%- body %>
	</main>
	<footer>
		<!-- Aquí se incluye el pie de página de la página -->
	</footer>
</body>
</html>
